:root {
    --vp-c-brand: #ff00ff;
    --vp-c-brand-light: #ff33ff;
    --vp-c-brand-lighter: #ff66ff;
    --vp-c-brand-dark: #cc00cc;
    --vp-c-brand-darker: #990099;

    --vp-c-sponsor: #ff00ff;

    /* Component colors */
    --vp-c-default-1: var(--vp-c-gray-1);
    --vp-c-default-2: var(--vp-c-gray-2);
    --vp-c-default-3: var(--vp-c-gray-3);
    --vp-c-default-soft: var(--vp-c-gray-soft);

    --vp-c-brand-1: var(--vp-c-brand);
    --vp-c-brand-2: var(--vp-c-brand-light);
    --vp-c-brand-3: var(--vp-c-brand-lighter);
    --vp-c-brand-soft: rgba(255, 0, 255, 0.16);

    --vp-custom-block-tip-border: var(--vp-c-brand);
    --vp-custom-block-tip-text: var(--vp-c-brand-darker);
    --vp-custom-block-tip-bg: var(--vp-c-brand-soft);

    --vp-button-brand-border: var(--vp-c-brand-light);
    --vp-button-brand-text: #fff;
    --vp-button-brand-bg: var(--vp-c-brand);
    --vp-button-brand-hover-border: var(--vp-c-brand-light);
    --vp-button-brand-hover-text: #fff;
    --vp-button-brand-hover-bg: var(--vp-c-brand-light);
    --vp-button-brand-active-border: var(--vp-c-brand-light);
    --vp-button-brand-active-text: #fff;
    --vp-button-brand-active-bg: var(--vp-c-brand-darker);
} 