# LOBBY SERVICE
LOBBY_S_H_PORT=3001
LOBBY_S_C_PORT=3000
LOBBY_S_AUTH_SERVICE_URI=http://auth-service:3000/auth
LOBBY_S_USER_SERVICE_URI=http://user-service:3000/users
LOBBY_S_NODE_ENV=production
LOBBY_S_DB_URI=mongodb://lobby-mongodb:27017/lobby
LOBBY_S_KAFKA_BROKERS=kafka-broker:9092
LOBBY_S_CORS_ORIGINS=http://api-gateway:3000

# AUTH SERVICE
AUTH_S_H_PORT=3002
AUTH_S_C_PORT=3000
AUTH_S_NODE_ENV=production
AUTH_S_USER_SERVICE_URI=http://user-service:3000/users
# will be used to sign JWT access tokens
AUTH_S_ACCESS_SECRET=jwtaccesss
# will be used to sign JWT refresh tokens
AUTH_S_REFRESH_SECRET=jwtrefresh
AUTH_S_ACCESS_EXPIRATION_MINUTES=15
AUTH_S_REFRESH_EXPIRATION_DAYS=7
AUTH_S_REDIS_URI=redis://redis:6379
AUTH_S_REDIS_PORT=6379
# Email configuration for sending verification and password reset emails
AUTH_S_EMAIL_USER=
AUTH_S_EMAIL_PASS=
AUTH_S_DB_URI=mongodb://auth-mongodb:27017/auth
# URL of the published frontend for the application, used in email templates and redirects
AUTH_S_APP_BASE_URL=
AUTH_S_CORS_ORIGINS=http://api-gateway:3000

# USER SERVICE
USER_S_H_PORT=3003
USER_S_C_PORT=3000
USER_S_NODE_ENV=production
USER_S_DB_URI=mongodb://user-mongodb:27017/user
USER_S_CORS_ORIGINS=http://api-gateway:3000

# AUCTION SERVICE
AUCTION_S_H_PORT=3004
AUCTION_S_C_PORT=3000
AUCTION_S_NODE_ENV=production
AUCTION_S_KAFKA_BROKERS=kafka-broker:9092
AUCTION_S_REDIS_URI=redis://redis:6379
AUCTION_S_REDIS_PORT=6379
AUCTION_S_CORS_ORIGINS=http://api-gateway:3000

# GATEWAY
GATEWAY_S_H_PORT=8080
GATEWAY_S_C_PORT=3000
GATEWAY_S_NODE_ENV=production
GATEWAY_S_LOBBY_SERVICE_URI=http://lobby-service:3000
GATEWAY_S_AUTH_SERVICE_URI=http://auth-service:3000
GATEWAY_S_USER_SERVICE_URI=http://user-service:3000
GATEWAY_S_AUCTION_SERVICE_URI=http://auction-service:3000
GATEWAY_S_CORS_ORIGINS=http://localhost:5174,http://frontend:5173

FRONTEND_PORT=5173
FRONTEND_API_URL=/api
FONTEND_NODE_ENV=production